@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.intro {
    display:block;
    left: 0;
    right:0;
    top:0;
    background:beige;
    text-align:center;
    height:75vh;
}

.name {
    font-family:'Bebas Neue';
    font-size:15vh;
    padding-top:25vh;
}

.logos {
    margin-top:5vh;
    display:flex;
    justify-content:center;
}

.logo {
    opacity:1;
    transition: all .3s ease-out;
}

.logo:hover{
    transform: translate(0, -5px);
}

.icon {
    width: 7vh
}