@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.projects {
    display:block;
    margin-top: 5vh;
}

.projectTitle {
    font-family: 'Manrope', sans-serif;
    font-size: 6vh;
    text-align:center;
    margin-bottom:2 vh;
}

.proj-group {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.proj-item {
    width: 30%;
    margin-bottom: 5vh;
}