@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.footer {
    background: beige;
    display:block;
    text-align:center;
    font-family: 'Manrope', sans-serif;
    font-size: 2vh;
}