.card {
    height: 50vh;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-hover img {
    height: 200px;
    transition: transform .5s ease;
}

.img-hover:hover img {
    transform: scale(1.2);
}