@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* CSS for horizontal display

.card-project {
    width: 70vw;
    margin-left: 15vw;
}

.tech {
    position:absolute;
    bottom:0;
    left:0;
}

.descriptions {
    margin-left: 2vw;
    text-align:center;
} */

